/*
app variables
*/

:root {
  /* background colors */
  --calculator-background-color: #696969;

  /* font */
  --main-font: "Orbitron", sans-serif;

  /* calculator dimensions */
  --calculator-height: 72%;
  --calculator-width: 36%;
}

/*
  media query for tablet or smaller screen
  */

@media screen and (max-width: 1024px) {
  :root {
    /* calculator dimensions */
    --calculator-height: 100%;
    --calculator-width: 100%;
  }
}

/*
  app CSS reset
  */

body,
div,
p {
  margin: 0;
  padding: 0;
}
